    $boxWidth:640rpx;
    $mainColor: #ba6bcb;
	.wrap{
		background-color: #ffffff;
		background-image: url(/static/images/bg05.png);
		background-size: 100%;
		background-repeat: no-repeat;
	}
	.logoimg{
		width: 160rpx;
		height: 160rpx;
		border-radius: 50%;
	}
	.placeholder{
		color: #DCDFE6;
	}
	.main-color{
		color: $mainColor;
	}
	.underline{
		text-decoration: underline;
	}
	.tabs{
		width: $boxWidth;
		height: 90rpx;
		background-color: #fff;
		border-radius: 50rpx;
		position: relative;
		z-index: 999;
		box-shadow: 0 4px 10px rgba(0,0,0,0.1);
	}
	.tabs .flex-1{
		
	}
	.btns{
		width: 500rpx;
		margin-top: 80rpx;
	}
	.qbtn{
		height: 100rpx;
		border-radius: 50rpx;
		background-color: #ffffff;
		// border: 1px solid $mainColor;
		background-image: linear-gradient(90deg,#a66ad7,#de6db8);
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		align-items: center;
		justify-content: center;
		// box-shadow: 0 1px 0 2px rgba(0,0,0,0.05);
	}
	.btn-text-color{
		color: #ffffff;
	}
	.nav-text-color{
		color: #DCDFE6;
	}
	.label{
		width: 120rpx;
		display: none;
	}
	.label_icon{
		width: 38rpx;
		height: 38rpx;
		display: block;
		margin-right: 30rpx;
	}
	.label_fgs{
		height: 36rpx;
		width: 1px;
		border-left:1px solid #E5E5E5;
		margin-right: 30rpx;
		display: none;
	}
  .topbox{
	  width: 100%;
	  height: 400rpx;
	  // background-color: $mainColor;
	  // background-image: url(/static/images/bg03.png);
	  background-size: 100%;
	  margin-bottom: -50rpx;
  }
  .login .form{
	  padding: 30rpx 0 50rpx 0;
  }
  .form{
	  width: $boxWidth;
	  background-color: #ffffff;
	  border-radius: 30rpx;
	  overflow: hidden;
  }
  .form-item{
	  margin-left: 30rpx;
	  margin-right: 30rpx;
	  padding: 30rpx 0rpx;
	
	  border-bottom: 1px solid #eee;
	  background-color: #ffffff;
	  display: flex;
	  align-items: center;
	  flex-direction: row-reverse;
  }
  .active{
	  position: relative;
	  background-color: $mainColor;
	  background-image: linear-gradient(45deg, #a66ad7,#de6db8);
	  border-radius: 50rpx;
  }
  .active::after{
	  // content: "";
	  // position: absolute;
	  // bottom:0;
	  // width: 60rpx;
	  // height: 8rpx;
	  // border-radius: 4rpx;
	  // background-color: $mainColor;
  }
  .curtext{
	  color: #ffffff;
  }
  .yzm{
	  background-color: $mainColor;
	  color: #ffffff;
	  padding-left: 20rpx;
	  padding-right: 20rpx;
	  border-radius: 10rpx;
	  margin-right: 20rpx;
	  border-radius: 40rpx;
  }